body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
canvas {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3 {
  font-family: "Oxanium", monospace;
}
button:hover {
  cursor: pointer;
}

#header {
  position: absolute;
  color: #eee;
  left: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
  font-size: 0.5rem;
}
.user-form {
  position: fixed;
  bottom: 10%;
  left: 2%;
  height: fit-content;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 25px;
  color: #eee;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
}

@media screen and (min-width: 700px) {
  #header {
    font-size: 0.8rem;
    letter-spacing: 7px;
  }
  .user-form {
    align-items: center;
    font-size: 1.4rem;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
  }
  input[type="date"] {
    font-size: 1.4rem;
  }
  #asteroidTooltip {
    font-size: 1.4rem !important;
  }
}

@media screen and (min-width: 1000px) {
  input[type="date"]{
    border: none;
    background: black;
    cursor: pointer;
    color: white;
  }
  ::-webkit-datetime-edit { border: none; }
  ::-webkit-datetime-edit-fields-wrapper {
    background: rgb(0, 0, 0, 0.8);
  }
  ::-webkit-datetime-edit-text {
    padding: 0 0.3em;
  }
  ::-webkit-inner-spin-button {
    display: none;
  }
  ::-webkit-calendar-picker-indicator {
    background: rgb(0, 0, 0, 0.8);
    color: white;
  }
  ::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
  }
  button{
    background: rgb(0, 0, 0, 0.8);
    border: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
